  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    background:rgb(255, 255, 255);
  
  }
  
  /* Track */
  #findCars::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 10px;
  }
   
  /* Handle */
  #findCars::-webkit-scrollbar-thumb {
    background: #ffffff; 
    /* background: #bbfcff;  */
    /* background: #e1dfe0;  */
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #findCars::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255)02; 
  }