@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
body {
  margin: 0;
  font-family:'Artifika', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /* width */
body::-webkit-scrollbar {
    width: 6px;
    background:#ffffff;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ffffff; 
    border-radius: 10px;

  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #9f9f9f; 
    /* background: #f1a2c8;  */
    border-radius: 10px;
  

  
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #5c0931; 
  }
  #findCars::-webkit-scrollbar {
    width: 10px;
    background:#ffffff;
  
  }
  
  /* Track */
  #findCars::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ffffff; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  #findCars::-webkit-scrollbar-thumb {
    background: #ffffff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #findCars::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }